@font-face {
    font-family: Source-Serif-ExtraBold;
    src: url(../fonts/SourceSerif4-ExtraBold.ttf);
  }

@font-face {
    font-family: Source-Serif-Bold;
    src: url(../fonts/SourceSerif4-Bold.ttf);
  }

@font-face {
    font-family: Source-Serif-SemiBold;
    src: url(../fonts/SourceSerif4-SemiBold.ttf);
  }
  
@font-face {
    font-family: Source-Serif-Medium;
    src: url(../fonts/SourceSerif4-Medium.ttf);
  }

@font-face {
    font-family: Source-Serif-Regular;
    src: url(../fonts/SourceSerif4-Regular.ttf);
  }

@font-face {
    font-family: Source-Serif-Light;
    src: url(../fonts/SourceSerif4-Light.ttf);
  }

@font-face {
    font-family: Source-Serif-Light;
    src: url(../fonts/SourceSerif4-LightItalic.ttf);
  }

/* ------------------------------------ */
/*            Scroll Bar                */
/* ------------------------------------ */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  background-color: #393939;
  border-radius: 6px;
  border: 3px solid #f9f9fd;
}

::-webkit-scrollbar-track {
  background-color: #f9f9fd;
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

/* ------------------------------------ */
/*            General styles            */
/* ------------------------------------ */
h1 {
    font-family: Source-Serif-Regular;
    font-size: 1.8rem !important;
    color: #393939;
    padding-top: 50px !important;
    border-bottom: none !important;
    margin-bottom: 5px !important;
}

h2 {
    font-family: Source-Serif-Regular;
    font-size: 1.5rem !important;
    border-bottom: none !important;

}

h3 {
  font-family: Source-Serif-Regular;
  font-size: 1.2rem !important;
  border-bottom: none !important;

}

h5 {
    font-family: Source-Serif-Light;
    font-size: 0.9rem !important;
    font-style: italic;
    color: #393939;
    background-color: #a5a5a53f;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px !important;
    margin-bottom: 50px !important;
}

p, ul, ol {
    font-family: Source-Serif-Regular;
    font-size: 1.2rem !important;
}

.markdown-body a {
    color: #393939 !important;
    font-weight: bold;
    text-decoration: underline dotted !important;
}
  
.markdown-body a:hover {
  background-color: #a5a5a53f !important;
  text-decoration: underline !important;
}

img {
  width: 500px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
}

figcaption {
  font-family: Source-Serif-Light;
  font-size: 1.0rem !important;
  font-style: italic;
  color: #8d8d8d !important;
  font-weight: bold;
  text-align: center;
  margin-top: 12px !important;
}

.footer-row {
  margin-top: 50px !important;
}
