@font-face {
    font-family: Metropolis-Medium;
    src: url(../fonts/Metropolis-Medium.woff2);
}

@font-face {
    font-family: Metropolis-Regular;
    src: url(../fonts/Metropolis-Regular.woff2);
}

@font-face {
    font-family: Metropolis-Light;
    src: url(../fonts/Metropolis-Light.woff2);
}

@font-face {
  font-family: Source-Serif-SemiBold;
  src: url(../fonts/SourceSerif4-SemiBold.ttf);
}

@font-face {
  font-family: Source-Serif-Medium;
  src: url(../fonts/SourceSerif4-Medium.ttf);
}

@font-face {
  font-family: Source-Serif-Regular;
  src: url(../fonts/SourceSerif4-Regular.ttf);
}

@font-face {
  font-family: Source-Serif-Light;
  src: url(../fonts/SourceSerif4-Light.ttf);
}



/* ------------------------------------ */
/*            General styles            */
/* ------------------------------------ */

html {
  height: 100%;
  margin: 0;
}

body {
  height: 95%;
  display: flex;
  flex-direction: column;
  min-height: 95vh; /* Full viewport height */
  margin: 0;
}

/* ------------------------------------ */
/*         Background (Particles)       */
/* ------------------------------------ */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Behind content */
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%,
                                            rgba(255, 255, 255, 0.9) 30%,
                                            rgba(255, 255, 255, 1) 50%,
                                            rgba(255, 255, 255, 0.9) 70%,
                                            rgba(255, 255, 255, 0) 100%);
  z-index: 2; /* Ensures the mask is above the particles */
}

.blog-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%,
                                            rgba(255, 255, 255, 0.9) 20%,
                                            rgba(255, 255, 255, 1) 50%,
                                            rgba(255, 255, 255, 0.9) 80%,
                                            rgba(255, 255, 255, 0) 100%);
  z-index: 2; /* Ensures the mask is above the particles */
}

/* ------------------------------------ */
/*               NavBar                 */
/* ------------------------------------ */
.navbar-row {
  z-index: 4; /* Above particles and mask */
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(256, 256, 256, 0.8) !important;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  font-family: Source-Serif-SemiBold;
  font-size: 2.0rem;
  color: #393939;
}

.nav-item {
  font-family: Source-Serif-Medium;
  font-size: 1.5rem;
  color: #393939;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.navbar-nav li {
  position: relative;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #393939;
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(256, 256, 256, 1) !important;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse ul {
    height: 100vh;
  }

  .nav-item {
    padding-top: 1.5rem !important;
  }
}

/*--------------Toogler animation (hamburger to X icon)---------------- */
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* ------------------------------------ */
/*             Content row              */
/* ------------------------------------ */

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 70px;
}

.content-row {
  flex-grow: 1;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  z-index: 3; /* Above particles and mask */
}

.welcome-container {
  text-align: left;
  color: #393939;
  font-size: 1.4rem;
  line-height: 1.3;
  font-family: Source-Serif-Light;
  background-color: rgba(256, 256, 256, 0.7);
  border-radius: 10px;
}

.welcome-container a {
  color: #393939;
  font-weight: bold;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3px;
}

.blog-content-row {
  flex-grow: 1;
  display: flex;
  align-items: top; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  z-index: 3; /* Above particles and mask */
}

.blog-container {
  text-align: left;
  color: #393939;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Metropolis-Light;
  background-color: rgba(256, 256, 256, 0.7);
  border-radius: 10px;
}

.blog-container a {
  color: #393939;
  font-weight: bold;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3px;
}

.blog-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.2;
  padding-top: 30px;
}

.blog-container h2 {
  font-size: 1.1rem;
  font-weight: medium;
  line-height: 1.0;
  display: block;
}

.blog-container h3 {
  font-size: 1.1rem;
  font-weight: medium;
  line-height: 1.0;
  color: #a0a0a0;
  text-align: right;
  display: block;
}

@media (max-width: 768px) {
  .welcome-container {
    font-size: 0.95rem;
    line-height: 1.3;
  }

  .blog-container {
    font-size: 0.95rem;
    line-height: 1.1;
  }
}

/* ------------------------------------ */
/*              Footer row              */
/* ------------------------------------ */

.footer-row {
  z-index: 4; /* Above particles and mask */
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .footer-row {
    padding: 5px;
  }  
}